*{
    margin: 0;
    padding: 0;
}

.title{
    color: pink;
    width: fit-content;
}

#game-container{
    width: 95vw;
    border-radius: 20px;
    height: 35vh;
    padding: 0;
    border: 5px solid palevioletred;
}

#scorecard, .require{
    width: 48%;
    font-size: 1.02em;
}

#show-runs{
    width: 95vw;
    height: 22vh;
}

.ctrl-container{
    width: 100vw;
}

.ctrl{
    padding: 6px;
    margin: -20px auto;
    width: 120px;
    height: 5vh;
}

.bat-bowl{
    width: 50px;
    height: 50px;
}

.shorts{
    background-color: rgb(46, 206, 238);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    left: 0;
}

.ctrl-container{
    height: 15vh;
    border: 3px solid palevioletred;
    width: 95vw;
}

.runs-data{
    border-radius: 50%;
}